@media (min-width:992px) {
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgb(66,220,163);
    color: rgb(255,255,255);
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

#mainNav a {
  color: rgb(197,194,191);
}

